# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/
/electron-out/

# dependencies
/bower_components/
/node_modules/

# misc
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/yarn-error.log
/testem.log
browse.VC.db

# We don't use ember-try for testing right now,
# but there's no harm in ignoring these patterns anyway
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
