# compiled output
/dist/
/tmp/
/electron-out/

# dependencies
/bower_components/

# misc
/.bowerrc
/.editorconfig
/.ember-cli
/.eslintignore
/.eslintrc.js
/.gitignore
/.watchmanconfig
/.travis.yml
/bower.json
/config/ember-try.js
/ember-cli-build.js
/testem.js
/tests/
/yarn.lock
.gitkeep
**/.gitkeep

# Since we don't use ember-try these shouldn't exist,
# but we ignore them anyway
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
