# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
/.bowerrc
/.editorconfig
/.ember-cli
/.ember-cli.js
/.env*
/.eslintignore
/.eslintrc.js
/.git/
/.gitignore
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/bower.json
/config/ember-try.js
/dist
/CONTRIBUTING.md
/ember-cli-build.js
/tmp
/testem.js
/tests/
/yarn.lock
.gitkeep

# Since we don't use ember-try these shouldn't exist,
# but we ignore them anyway
# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
/config/addon-docs.js
