.old-index-page {
  color: #7f8082;
  background: #eaecf3;
  font-family: "open Sans", sans-serif;
  font-size: 14px;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  code {
    display: inline;
    font-family: "Fira Mono", monospace;
    font-size: 18px;
  }

  h1,
  h2,
  h3 {
    padding: 0;
    color: #494d57;
    font-weight: 400;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  h2 {
    margin: 100px 0 0;
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    margin: 40px 0 0;
    font-size: 20px;
    line-height: 30px;
  }

  p {
    margin: 0;
    max-width: 800px;
  }

  h2 + *,
  h3 + * {
    margin-top: 10px;
  }

  h3 code,
  .top code {
    padding: 0;
    border: 0;
    background: none;
  }

  .page p code {
    padding: 3px 5px;
    background: #f0f1f3;
    border: 1px solid #cbd5e9;
    border-radius: 3px;
    font-size: 13px;
    color: #4e669a;
  }

  nav {
    margin: 60px 0 0;
  }

  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: #4e669a;
  }

  /* Layout blocks */

  .top,
  .page,
  .end {
    position: relative;
    padding: 20px 140px 1vw;
  }

  * > div,
  * > nav {
    position: relative;
    z-index: 1;
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
  }

  .top {
    padding-top: 30px;
    background: #2a2f3a;
  }

  .top h2 {
    margin-top: 0;
    color: #7f8082;
  }

  .top h2 span {
    display: block;
  }

  .top h3 {
    margin-top: 90px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .top h3 + * {
    margin-top: 0;
  }

  .top code {
    display: block;
    font-size: 20px;
    line-height: 30px;
  }

  .top strong {
    font-weight: 400;
    color: #fff;
  }

  .top .badge {
    position: absolute;
    top: 30px;
    right: 0;
  }

  .page {
    background: #f7f8fa;
  }

  svg.swoosh {
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 0;
    width: 100%;
  }

  .end {
    padding: 120px 140px 10px;
    color: #4e669a;
  }

  /* Elements */

  .logo {
    position: relative;
    display: block;
    width: 400px;
    min-height: 80px;
    margin: 0 0 0 -120px;
    padding: 0 0 0 120px;
  }

  .logo img {
    position: absolute;
    left: 0;
    width: 100px;
    height: 80px;
  }

  .logo h1 {
    padding: 30px 0 0;
    color: #fff;
    font-family: "Fira Mono", monospace;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
  }

  .logo + h2 {
    margin-top: 0;
  }

  .btn {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    box-shadow:
      0 2px 15px 0 rgb(42 46 58 / 10%),
      0 1px 3px 0 rgb(42 46 58 / 10%);
    border-radius: 3px;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
  }

  .btn + .btn {
    margin-left: 10px;
  }

  .btn,
  .btn:link,
  .btn:visited {
    color: #4e669a;
  }

  .intro {
    padding-top: 50px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (width <= 640px) {
    .top,
    .page,
    .end {
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .top,
    .page {
      padding-bottom: 0;
    }

    .top h2 span {
      display: inline;
    }

    .logo img {
      position: relative;
    }

    .logo h1 {
      padding-top: 0;
    }
  }
}
